doctype html
html
    head
        title #{pageTitle} | #{siteName} 
    body
        block content
        include ../partials/footer

        p How to reuse the same page structure : extend from the same layout
        p partial : HTML codes that can be reused in multiple layouts
        p block : a way of making space for dynamic content inside of a template